body {
    
    background: lightblue url("style/images/everest3.jpg") no-repeat fixed center;
    color: snow;
    font-family: sans-serif;
    }

h1 {
    display: inline;
}




.top.globalnav ul{
    margin: 0;
    padding: 0;
    

    
}
.top.globalnav li{
    display: inline;
    padding: 5px;
        
}




footer {
   
    height: 60px;
    padding: 20px;
    text-align:center;
    background-color:rgb(12,139,254)
}

.headercontent {
    background: transparent;
    display: grid;
    width: 100%;
    grid-template-columns: auto 
    auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "br br br br"
    "gn gn ts ts";
    margin-bottom: 10px;
    background-color: rgb(12,139,254)

    
}

.top {
    font-size: 20px;
    height: 50px;
    width: auto;
    }

.brand {
    
    grid-area: br;
    font-size: 20px;
    padding:5px;
    color: black;
}
.globalnav {
        
    grid-area: gn;
    text-align: center;
    padding: 10px;
    
}

.tools {
    
    grid-area: ts;
    text-align: center;
    padding: 5px;
}

.middlecontent {
    width: 100%;
    display:grid;
    font-size: 20px;
    background: transparent;       
    grid-gap:10px;
    margin-bottom: 10px;
}

.middle {
    width: auto;
}


.footercontent {
    display:grid;
    
}

.herofeature {
    grid-area: hf;
    
    
}

.herocall {
    grid-area: hc;
    font-size: 25px;
    

}
.articlefeature {
    grid-area: af;
    text-align: justify;
    
}
.addy {
    grid-area: ay;
    color: rgb(112, 18, 18);
    
}

.articlelisting {
    grid-area: al;
    
}

.sidebar {
    grid-area: sb;
    
}

button:hover {
    animation-name: buttonchange;
    animation-duration: 2000ms;
    

}

@keyframes buttonchange {
  100% {
    background-color: rgb(255, 134, 134);
  }
}







    @media only screen and (min-width: 576px) {

        .top {
            height: auto;
                   }    

        

                .middle.herocall {
                    height: auto;
                    text-align: center;
                    padding: 90px;
                }


        .articlefeature, .addy{
            height:auto;
        } 

        .middle.articlelisting {
            height:auto;
        }
                
        .headercontent {
                
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
            grid-template-areas:
            "br gn ts";
             
        }
    
    
        .middlecontent {
            
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas: 
            "hf hf"
            "hc hc"
            "af ay"
            "al al"
            "sb sb";
        
            }
        
        .brand {
            white-space: nowrap;
        }


    }

    
    

    @media only screen and (max-width: 575px) {

        .top {

            border: none;
        
        }
                               
        .middle {
            border: none;
        }
        
        footer {
            border: none;
        
            
        }


        .top {  
            height: auto;
        }

        
        .middle.herocall {
            height: auto;
            text-align: center;
            padding: 90px;
               
        }

        

        .middlecontent {
            grid-template-columns: auto;
            grid-template-rows: auto auto 102px auto;
            grid-template-areas: 
            "hc"
            "af"
            "ay"
            "al";
        }
        
        .herofeature {
            display: none;
        }
        
        .sidebar {
            display: none;
        }
        
        .headercontent {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        grid-template-areas:
        "br br br br"
        "gn gn ts ts";
        
        ;
        }


        .addy {
            background: url(style/images/addymobile1.jpg);
            
        }

        .articlelisting {
            height:auto;

        }

        ul {
            display: inline;
        }

        
        }
    
        @media only screen and (min-width: 992px) {

            .headercontent {
                
                
                
                grid-template-columns: auto auto auto;
                grid-template-rows: auto;
                grid-template-areas:
                "br gn ts";
               
            }
        
        
            .middlecontent {
                
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto;
                grid-template-areas: 
                "hf hc ay"
                "af al sb";
            
                }
            .middle {
                height: auto;
            }

            .middle.herocall {
                height: auto;
                text-align: center;
                padding: 0px;


        }









